.mainHeader{
    width: 100%;
    height: 50px;
    background-color: $gifterRed;
}

.navList{
    margin-left: 2%;
    width: 45%;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    float: left;
}

.navList li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gifterLogo{
    width: 126px;
    height: 34px;
    float: left;
    margin-top: 25px;
    margin-left: 10%;
}

.navLink{
    text-decoration: none;
    color: $white;
    transition: all .2s ease-in-out;
}

.navLink:hover{
    color: $gifterBlue;
}

.getGifterBut{
    background-color: $white;
    width: 20%;
    height: 50px;
    display: flex;
    border: none;
    color: $gifterRed;
    float: right;
    border-radius: 5px;
    margin-right: 8%;
    margin-top: 25px;
    justify-content: space-around;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.getGifterBut h4{
    // margin-top: 10px;
    margin-left: 20%;
    font-weight: bold;
    font-size: 1.2em;
}

.butLine{
    width: 2px;
    height: 35px;
    background-color: $gifterRed;
    margin-left: 15%;
}

.browserIcon{
    width: 30px;
    height: 30px;
    // margin-top: 4px;
}

.downloadIcon{
    width: 30px;
    height: 30px;
    // margin-top: 4px;
}

@include mobile{

    .gifterLogo{
        width: 100px;
        height: 28px;
        // float: left;
    }

    .navList{
        margin-left: 5%;
        width: 90%;
        padding-top: 20px;
    }

    .navLink{
        font-size: .9em;
    }

    .getGifterBut{
        width: 40%;
        height: 35px;
        margin-top: -70px;
    }
    
    .getGifterBut h4{
        // margin-top: 10px;
        margin-left: 5%;
        font-weight: bold;
        font-size: 1em;
    }
    
    .butLine{
        width: 2px;
        height: 30px;
        background-color: $gifterRed;
        margin-left: 5%;
        display: none;
    }
    
    .browserIcon{
        width: 28px;
        height: 28px;
        // margin-top: 4px;
    }
    
    .downloadIcon{
        width: 20px;
        height: 20px;
        // margin-top: 4px;
    }
}